@charset "UTF-8";

.right-header a {
    color: #fff;
    text-decoration: none;
}

.right-header a:hover {
    text-decoration: underline;
}

.date {
    font-style: italic;
    color: #666;
}

ul {
    list-style-type: disc;
}

.header h1 {
    font-size: 2.5em;
    font-weight: bold;
}

.header .subtitle {
    font-size: 1.1em;
    font-weight: 400;
}

.section ul li {
    margin-bottom: 5px;
}

.media-alt {
    display: none;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .right-header {
        text-align: left;
        margin-top: 10px;
    }

    .container {
        padding: 15px;
    }
}

@media print {
    .container {
        box-shadow: none;
        border: none;
    }

    body {
        background-color: #fff;
    }
    .header {
        background-color: white;
        color: black;
        border: none;
    }

    .right-header a {
        color: black;
        text-decoration: underline;
    }

    .date {
        font-size: 0.8em;
        color: gray;
    }

    @page {
        margin: 1cm;
    }

    .media-image, .media-video {
        display: none;
    }
    
    .media-alt {
        display: block;
        font-size: 1em;
        color: #333;
        text-align: center;
        margin-top: 10px;
    }
}


